<div class="medgooglemaps_navigation">
    <div class="medgooglemaps_navigation_menue">
        <a href="javascript:void(0);" class="medgooglemaps_fromhere"><f:translate key="from_here" /></a>
        <a href="javascript:void(0);" class="medgooglemaps_tohere"><f:translate key="to_here" /></a>
    </div>

    <div class="medgooglemaps_navigation_content">
        <form name="search_route" method="get" action="http://maps.google.com/" target="_blank">
            <input type="text" name="saddr" class="medgooglemaps_input_1" />
            <input type="hidden" name="daddr" value="{marker.address}, {marker.zip}, {marker.city}, {marker.country}" class="medgooglemaps_input_2" />
            <a href="javascript:void(0);" class="medgooglemaps_submit {settings.googleMapsSubmitClasses}"><f:translate key="calculate_route" /> <i class="icon-chevron-right icon-white"></i></a>
        </form>
    </div>
</div>